div.amplitude-play-pause.amplitude-paused {
    background: url('../img/play.svg');
    background-size: cover;
}

div.amplitude-play-pause.amplitude-playing {
    background: url('../img/pause.svg');
    background-size: cover;
}

div.amplitude-play-pause.previous{
    display: inline-block;
    height: 53px;
    width: 53px;
    cursor: pointer;
    background: url('../img/previous.svg');
    vertical-align: middle;
    margin-right: 16px;
}

div.amplitude-play-pause.next{
    display: inline-block;
    height: 53px;
    width: 53px;
    cursor: pointer;
    background: url('../img/next.svg');
    vertical-align: middle;
    margin-right: 24px;
}

